body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin: 20px;
    
    clear: both;


}

a {
	font-family: Times, Times New Roman, serif;
    text-transform: unset;
    font-size: 16px;


}



#top {
	text-decoration: blink;
			background-color: solid black;
			border: 20px solid midnightblue;
			border-radius: 1000px;
			color: darkblue;
			display: block;
			
			text-align: center;
			margin-bottom: 3px;
			font-size: 50px;

			font-family: Impact, Charcoal, sans-serif;
			margin: 10px 100px 10px 100px;
			padding: 20px;
		}
    

#top:hover, #top:active {
			background-color: lightsteelblue;
			/*color: aqua;*/
  			
		}

#Lead ul, #child ul, #voice-over ul {
	height: 150px;
	width: 300px;
	background-color: #FFE4E1;
	box-sizing: scroll;
	overflow: auto;
	margin-right: 10px;
	border: 5px solid midnightblue;
	margin: 10px 40px 10px 40px;
	border-radius: 10px;
	border: 10px 30px 10px 5px;
	
	}

#Lead, #child, #voice-over {
	margin: 10px;
	border: 2px solid black;
	float: left;
	margin: 10px 20px 10px 20px;
	background-color: #FFFFE0;
	background-image: url("MB.jpg") no-repeat;
	background-position: top left;
	border-radius: 15px;
	text-align: center;
}
section {
	clear: left;
	
}

/*#Lead, #child, #voice-over {
	position: relative;
	top: 10px;
	left: 10px;
}*/

